In [1]:
import numpy as np

class cluster:

    def __init__(self):
        pass

    def fit(self, X):
        pass




class K_Means(cluster):
    
    def __init__(self, k, max_iter):
        self.k = k
        self.max_iter = max_iter
        self.centers = None
        self.index = None
        
    
    def fit(self, x):
        random_centroids = x[np.random.choice(len(x), self.k), :]
        dist = distance.cdist(X, random_centroids, 'euclidean')
        closest_centroid = self.get_neighbour_centroid(dist)
        neighbours = []
        
        for i in range(self.max_iterations):
            
            for centroid in range(self.k):
                pos = (closest_centroid == centroid)
                mean_of_points = x[pos,:].mean(axis=0)
                neighbours.append(list(mean_of_points))
            
            dist_of_centroid = distance.cdist(x, neighbours, 'euclidean')
            points_closest = self.get_neighbour_centroid(dist_of_centroid)
        self.centers = neighbours
        self.index = np.asarray(points_closest)
        
    def get_neighbours(self, points):
        closest_point = []
        for point in points:
            neighbour = (np.where(point==np.amin(point, axis=None, out=None)))
            closest_point.append(int(neighbour[0]))
        return np.asarray(closest_point)

In [2]:
import pandas as pd

df = pd.read_csv("historical-weather.csv")
df

,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
0,0,2011-09-10 00:00:49,912.3,64.76,97.0,1.2,106.0,1.6,85.0,1.0,NaN,NaN,60.5
1,100,2011-09-10 01:40:49,911.8,62.96,95.0,2.3,106.0,2.5,88.0,1.9,0.0,0.0,63.9
2,200,2011-09-10 03:20:49,911.4,68.00,53.0,0.3,69.0,0.5,19.0,0.2,0.0,0.0,33.4
3,300,2011-09-10 05:00:49,911.4,64.22,191.0,2.8,197.0,2.9,185.0,2.6,0.0,0.0,58.2
4,400,2011-09-10 06:40:49,912.2,52.70,181.0,1.5,191.0,2.0,164.0,1.2,0.0,0.0,89.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15868,1586800,2014-09-10 16:23:29,914.3,77.18,225.0,5.2,238.0,6.0,214.0,4.4,0.0,0.0,43.2
15869,1586900,2014-09-10 18:03:29,914.4,77.00,190.0,1.5,196.0,1.7,185.0,1.4,0.0,0.0,42.8
15870,1587000,2014-09-10 19:43:29,914.9,75.92,344.0,0.4,352.0,0.6,336.0,0.3,0.0,0.0,43.9
15871,1587100,2014-09-10 21:23:29,915.7,75.38,13.0,1.5,24.0,1.7,4.0,1.2,0.0,0.0,46.7
15872,1587200,2014-09-10 23:03:29,915.9,75.74,335.0,0.9,348.0,1.1,322.0,0.7,0.0,0.0,47.8

In [3]:
df = df.drop(columns=["rowID", "hpwren_timestamp", "min_wind_direction", "min_wind_speed", "rain_accumulation", "rain_duration"])
df.columns

Index(['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed',
       'max_wind_direction', 'max_wind_speed', 'relative_humidity'],
      dtype='object')

In [4]:
from sklearn.preprocessing import StandardScaler

df.columns
df = df.dropna()
df.isna().sum()

air_pressure          0
air_temp              0
avg_wind_direction    0
avg_wind_speed        0
max_wind_direction    0
max_wind_speed        0
relative_humidity     0
dtype: int64

In [5]:
ss = StandardScaler()
scaled_data = ss.fit_transform(df)
scaled_data

array([[-1.48430824,  0.24526764, -0.67450862, ..., -0.61453318,
        -0.74711905,  0.49291641],
       [-1.64815855,  0.09316977, -0.69549274, ..., -0.61453318,
        -0.37657025,  0.62274263],
       [-1.77923879,  0.5190438 , -1.13615931, ..., -1.01554462,
        -1.20001203, -0.54187493],
       ...,
       [-0.63228666,  1.18827442,  1.91703046, ...,  2.051651  ,
        -1.15883994, -0.14094102],
       [-0.37012617,  1.14264506, -1.55584175, ..., -1.50326124,
        -0.70594696, -0.03402531],
       [-0.30458605,  1.17306463,  1.82260191, ...,  2.00829841,
        -0.9529795 ,  0.00797729]])

In [ ]:
for i in range(1, 20):
    kmeans = K_Means(k=4, max_iter=300)
    kmeans.fit(scaled_data)